{
  "application": "/Applications/Vivaldi.app/Contents/MacOS/Vivaldi",
  "port": 44525,
  "url_patterns": [
    {
      "pattern": "^https?://github\\.com/.*",
      "args": ["--new-window", "$url"]
    },
    {
      "pattern": "^https?://.*\\.youtube\\.com/.*",
      "args": ["--app=$url"],
      "url_params": {
        "t": "250s"
      }
    },
    {
      "pattern": ".*",
      "args": ["--app=$url"]
    }
  ]
}
